# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*


# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/
.venv/

# VSCode settings (if used)
.vscode/
.history/
